<ion-view view-title="Connexion">
  <ion-content>
     <br>
      <div style="text-align: center"><h1 style="color:#0a9dc7;">Connexion</h1></div><br>
      <a style="margin-left: 5%;width:90%" class="button button-positive" href="#/app/propose"><i style="margin-right:10%;color:white" class="icon ion-social-facebook placeholder-icon"></i>CONNEXION FACEBOOK</a><br><br>
      <p style="text-align: center;font-size:16px;">-------- ou --------</p><br>
    <form ng-submit="connectionAction()" novalidate>
      <div class="list">
        <label class="item item-input">
          <span class="input-label"><i class="icon ion-email placeholder-icon"></i>E-mail</span>
          <input type="text" ng-model="loginData.username" ng-required="true">
        </label>
        <label class="item item-input">
          <span class="input-label"><i class="icon ion-locked placeholder-icon"></i>Mot de passe</span>
          <input type="password" ng-model="loginData.password" ng-required="true">
        </label>
        <label class="item">
          <button class="button button-block button-calm" type="submit">Connexion</button>
        </label>
      </div>
    </form>
      <div style="text-align: center"><a style="text-transform: uppercase;color:#0a9dc7;text-align: center" href="#">mot de passe oublié ?</a></div><br>
      <h3 style="text-align: center;color:rgba(0, 0, 0, 0.54)">Pas encore membre ?</h3>
     <a style="margin-left: 5%;width:90%;color:#0a9dc7;border: 1px solid #0a9dc7;" class="button button-light" href="#/app/propose">INSCRIPTION</a><br><br>
  </ion-content>
    
</ion-view>

