<ion-view view-title="Publication">
  <ion-content>
      <form ng-submit="postTrajet()">
          <br>
          <div class="marginLeftSearch">
            <i class="icon ion-ionic placeholder-icon departIcon"></i>
            <input ng-model="trajet.pointDepart" type="search" class="inputSearch" placeholder="Point de départ"><br><br>
          </div>
          <div class="marginLeftSearch">
            <i class="icon ion-ionic placeholder-icon arriveIcon"></i>
            <input ng-model="trajet.pointArrive" type="search" class="inputSearch" placeholder="Point d'arrivée">
          </div>
          <div class="bar bar-header bar-positive barreDateHeure">
            <h1 class="title">DATE ET HEURE</h1>
          </div>
          <div class="allerRetour">
            <div class="leftAllerRetour">
              <i  class="icon ion-arrow-swap placeholder-icon"></i>
              <p style="display:inline;">
                Aller-retour
              </p>
            </div>
            <label class="checkbox theCheckbox">
              <input type="checkbox" style="display:inline;float:right">
            </label>
          </div>

        <div class="allerRetour">
            <div class="leftAllerRetour">
              <i  class="icon ion-flame placeholder-icon"></i>
              <p style="display:inline;">
                Fumeur
              </p>
            </div>
            <label class="checkbox theCheckbox">
              <input type="checkbox" style="display:inline;float:right">
            </label>
          </div>
        <br>
          <hr>
          <div style="padding-left:15px">

            <i class="inlineD icon ion-calendar placeholder-icon"></i>
            <input ng-model="dateDepart|date:'yyyy-MM-dd'" class="inlineD allerret" type="text" ng-click="openDatePickerStart()" placeholder="Date de départ">
            <input  ng-model="timeDepart" class="inlineD allerret" type="text" ng-click="openTimePickerStart()" placeholder="Heure">
            <hr>
          </div>
          <hr>
        <div style="padding-left:15px">

          <i class="inlineD icon ion-calendar placeholder-icon"></i>
          <input ng-model="dateEnd|date:'yyyy-MM-dd'" class="inlineD allerret" type="text" ng-click="openDatePickerEnd()" placeholder="Date d'arrivée">
          <input ng-model="timeEnd" class="inlineD allerret" type="text" ng-click="openTimePickerEnd()" placeholder="Heure">
          <hr>
        </div>


          <div style="text-align: center">
          <a class="button button-positive continue postTrajet" href="#/app/propose" >SAUVEGARDER</a>
          </div>
      </form>
  </ion-content>
</ion-view>
