<ion-view view-title="Rechercher">
  <ion-content>
    <br>
    <div class="marginLeftSearch">
      <i class="icon ion-ionic placeholder-icon departIcon"></i>
      <input type="search" class="inputSearch" placeholder="Point de départ"><br><br>
    </div>
    <div class="marginLeftSearch">
      <i class="icon ion-ionic placeholder-icon arriveIcon"></i>
      <input type="search" class="inputSearch" placeholder="Point d'arrivée">
    </div>
    <a class="button button-positive searchButton">RECHERCHER</a>
  </ion-content>
</ion-view>
